<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Update Book Data</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/books/<%=book._id%>?_method=PUT" method="POST" novalidate class="validated-form"
                enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-control" type="text" id="name" name="book[name]" value="<%=book.name%>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="location">Author</label>
                    <input class="form-control" type="text" id="author" name="book[author]" value="<%=book.author%>"
                        required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="formFileMultiple" class="form-label">Add more images</label>
                    <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Book Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="book[price]" value="<%=book.price%>" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="book[description]"
                        style="height: 100px" required><%= book.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Category</label>
                    <select class="form-select" id="inputGroupSelect01" name="book[category]" value="<%=book.category%>"
                        required>
                        <option selected disabled value="">Choose...</option>
                        <option value="Finance">Finance</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Self-Help">Self-Help</option>
                    </select>
                </div>

                <div class="mb-3">
                    <% book.images.forEach(function (img, i) { %>
                        <img src="<%=img.thumbnail%>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% }) %>
                </div>

                <div class="mb-3">
                    <button class="btn btn-success">Update Book Data</button>
                </div>
            </form>
        </div>
    </div>